<!DOCTYPE html>
<html>
  <head>
    <title>Rotten Potatoes</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>All movies</h1>



      <table class="table table-striped">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Rating</th>
          <th scope="col">Release date</th>
          <th scope="col">Actions</th>
        </tr>
        <% movies.forEach(function(movie) {%>
          <tr>
            <td><%= movie.title %></td>
            <td><%= movie.rating %></td>
            <td><%= movie.release_date %></td>
            <td>
              <a class="btn btn-outline-primary btn-sm" href="/movies/<%= movie.id %>" role="button">show</a>
              <a class="btn btn-outline-primary btn-sm" href="/movies/<%= movie.id %>/edit" role="button">edit</a>
            </td>
          </tr>
        <%});%>
      </table>
      
      <a class="btn btn-outline-primary" href="/movies/new" role="button">Add a new movie</a>
    </div>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

