

<!DOCTYPE html>
<html>
  <head>
    <title>Rotten Potatoes</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>All movies</h1>

      <form method="post" action="/movies">
        <div class="form-group">
          <label for="title" class="col-sm-2 col-form-label">Title</label>
          <input type="text" class="form-control-plaintext" id="title" name="title">
        </div>
        <div class="form-group">
          <label for="description" class="col-sm-2 col-form-label">Description</label>
          <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        <div class="form-group">
          <select class="custom-select" id="rating" name="rating">
              <option>G</option>
              <option>PG</option>
              <option>PG-13</option>
              <option>R</option>
          </select>
        </div>
        <div class="form-group">
          <label for="release_date" class="col-sm-2 col-form-label">Release date</label>
          <input type="date" class="form-control-plaintext" id="release_date" name="release_date">
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </form>
    </div>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

