<!DOCTYPE html>
<html>
  <head>
    <title>Rotten Potatoes</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
  <div class="input-group">
    <label for="title" class="col-sm-2 col-form-label">Title</label>
    <input type="text" class="form-control" id="title" readonly value="<%= movie.title %>">
  </div>
  <div class="input-group">
    <label for="description" class="col-sm-2 col-form-label">Description</label>
    <textarea class="form-control" id="description" readonly rows="3"><%= movie.description %></textarea>
  </div>
  <div class="input-group">
    <label for="rating" class="col-sm-2 col-form-label">Description</label>
    <input class="form-control" id="rating" readonly value="<%= movie.rating %>" ></textarea>
  </div>
  <div class="input-group">
    <label for="release_date" class="col-sm-2 col-form-label">Release date</label>
    <input type="date" class="form-control" id="release_date" readonly value="<%= moment(movie.release_date).format('YYYY-MM-DD') %>">
  </div>

<div class="jumbotron">
<form method="post" action="/movies/<%= movie.id%>/reviews">
  <div class="input-group">
    <label for="review" class="col-sm-2 col-form-label">Your review</label>
    <textarea class="form-control" id="review" name="body" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-outline-primary">Submit review</button>
</form>
<hr class="my-4">
<ul class="list-group">
  <% movie.Reviews.forEach(function(review) {%>
    <li class="list-group-item"><%= review.body %></li>
  <% }) %>
</ul>
</div>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
